.ar-btn:hover > .arrow {
    transform: rotate(90deg);  
    transition: .3s ease-in-out;
}

.hero{
    background-color: blanchedalmond;
    background: url("https://media3.giphy.com/media/3oEduOtNe7lOFnBpmw/giphy.gif?cid=790b76115888ffbba6021f288c5f078b7c819549f73c8830&rid=giphy.gif&ct=g");
    background-size: cover;
    
}