
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

    :root {
        --blue:#03989e,
        --black:#131619,
        --gray:#191d22,
        --black-body:#131619,
        --light-black-body:#191d22,
        --white-text:#ffffff,
        --muted-text:#eceaea
    }
}

